*{
    margin: 0px;
    padding: 0px;
}

body{
    background: url(../assets/images/Slide\ 16_9\ -\ 2.png);
    /* display: flex; */
    transition: 0.9s;
}

body:hover{
    background: url(../assets/images/Slide\ 16_9\ -\ 1.png);
    background-size: cover;
}
.container{
    display: flex;
    justify-content: center;
}

.container h1{
    margin-top: 25%;
    color: azure;
}