*{
    margin: 0px;
    padding: 0px;
}

body{
    background: center center url(../assets/images/Slide\ 16_9\ -\ 2.png);
    /* display: flex; */
    transition: 0.9s;
}

body:hover{
    background: center center url(../assets/images/Slide\ 16_9\ -\ 1.png);
    background-size: cover;
}

.heading{
    color: antiquewhite;
    margin: 20px;
}

.upcoming{
    margin-top: 40px;
    display: block;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.384);
    height: 500px;
    width: 1200px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.entries{
    background: no-repeat url(../assets/images/LOGO3.png);
    background-size: 130px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: antiquewhite;
    height: 180px;
    width: 1000px;
    margin: 20px;
    border-radius: 20px;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
}

.entries p{
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    text-align: center;
}

.entries .details{
    display: block;
    justify-content: space-between;
}

.entries button{
    height: 50px;
    border-radius: 0 0 20px 20px;
}

.entries:hover{
    animation: ziper 1.8s ease-in-out;
}

@keyframes ziper {
    0%{
        box-shadow: 0 0 40px red,
        0 0 60px blueviolet;
    }
}