*{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
body{
    font-family: 'Ubuntu', sans-serif;
}
.header{
    text-align: center;
    height: var(--headh, 330px);
    top:0;
    width: 100%;
    background: linear-gradient(rgb(44, 250, 3),rgb(0, 183, 255));
    border-radius: 0px 0px 30px 30px;
    transition: 0.8s;
}
.header:hover{
    --headh: 340px;
    box-shadow: 0px 0px 20px 0px rgb(73, 73, 73);
}
.navb{
    overflow-y: hidden;
    background-color: transparent;
    display: flex;
    justify-content: center;
    height: 70px;
    width: 70%;
    margin-top: 50px;
    /* margin-bottom: var(--mbn, 60px); */
    border-radius: 10px;
    transition: 1s;
}
.navb:hover{
    background-color: black;
    box-shadow: 7px 7px 7px 7px grey;
}
ul{
    display: flex;
    align-items:center;
    justify-content: center;
    
}


.element{
    /* overflow-x: scroll; */
    background-color: antiquewhite;
    padding: 15px;
    font-weight: 700;
    font-size: 1.2em;
    margin: 30px;
    cursor: pointer;
    list-style: none;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.4s;
}

.element:hover{
    color: white;
    background-color: black;
    font-size: 1.4em;
    box-shadow: 0px 0px 5px 0px rgb(223, 5, 5);
    letter-spacing: 0.15em;
}
.card{
    justify-content: center;
    display: flex;
    width: 100%;
    display: grid;
    padding: 8px;
}
#btop{
    position: fixed;
    left: 3%;
    top: 80%;
    height: 50px;
    font-size: 30px;
}
.bodys{
    margin-top: var(--mbn, 60px);
    /* top: 0; */
    border-radius: 30px 30px 0px 0px;
    background-color: grey;
    transition: 0.8s;
}
.bodys:hover{
    box-shadow: 30px 30px 30px 30px rgb(46, 45, 45);
    --mbn: 40px;
}