html,
#body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: "Ubuntu", sans-serif;
    font-weight: 800;
}

#body {
    background-color: black;
}

nav {
    height: 75px;
    display: flex;
    background-color: grey;
}

nav img {
    height: 95;
    /* margin-right: 20px;
    margin-left: 20px; */
    margin: 0 20px 4px 20px;
}

.navelements {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: aliceblue;
    padding: 20px;
    font-size: 20px;
    transition: 0.5s;
    cursor: pointer;
}

.navelements:hover {
    background-color: grey;
    color: black;
}

.emotes {
    position: absolute;
    z-index: 0;
    opacity: 0.5;
}

.em1 {
    top: 15%;
    left: 2%;
    height: 190px;
}

.em2 {
    right: 5%;
    top: 20%;
    height: 190px;
}

.em3 {
    top: 70%;
    left: 13%;
    height: 190px;
}

.em4 {
    right: 2%;
    top: 69%;
    height: 190px;
}

.heading {
    position: absolute;
    color: #f5f5f5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#more {
    color: white;
    font-size: 50px;
    margin-top: 37%;
    margin-left: 50%;
}

.poster {
    height: fit-content;
}

#test {
    color: white;
    padding: 15px;
}